body {
    font-family: 'Press Start 2P', cursive;
   margin: 0;
   padding: 0;
   background-image: url('../Images/Spielo.jpg');
   background-size: cover; /* Passt das Bild an, sodass es den gesamten Hintergrund bedeckt */
    background-repeat: no-repeat; /*Verhindert das Wiederholen des Bildes */ 
   background-position: center; /*Zentriert das Bild */ 
}
.pfeil{
    width:10rem;
    height:10rem;
    z-index: 2;
    position: absolute;
    top: -1.5rem;
    left: 2rem;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}
a, h2 {
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
canvas{
    position: absolute;
    left: 30rem;
    top: 9rem;
    border: 2px solid black;
border-radius: 10px; /* applies to all four corners */
cursor: none;
}